<header class="navbar navbar-dark sticky-top flex-md-nowrap p-0 shadow">
  <div class="navbar-brand col-md-3 col-lg-2 me-0 px-3 fs-6" href="#">
    <h5 class="my-0 py-0">
      <img src="/assets/favicon.webp" height="40px"> Howler
    </h5>
  </div>
  <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse"
    data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
</header>

<div class="container-fluid">
  <div class="row">
    <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
      <div class="position-sticky pt-3 sidebar-sticky">
        <ul class="nav flex-column">
          <li class="nav-item"><a class="nav-link" routerLink="" routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }">
              <fa-icon [icon]="faBell"></fa-icon>
              Alerts
            </a></li>
          <li class="nav-item"><a class="nav-link" routerLink="datasources" routerLinkActive="active">
              <fa-icon [icon]="faFolder"></fa-icon>
              Datasources
            </a></li>
          <li class="nav-item"><a class="nav-link" routerLink="settings" routerLinkActive="active">
              <fa-icon [icon]="faGear"></fa-icon>
              Settings
            </a></li>
        </ul>
      </div>
    </nav>

    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
      <router-outlet></router-outlet>
    </main>
  </div>
</div>