<div
    class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-1 pb-2 mb-3 border-bottom border-dark">
    <h1 class="h2">Data Sources</h1>
    <div *ngIf="error !== ''" class="alert alert-danger py-1 my-0" role="alert">
        <fa-icon [icon]="faCircleExclamation"></fa-icon> {{error}}
    </div>
    <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group me-2">
            <button type="button" class="btn btn-sm btn-outline-dark" (click)="openModal(addDataSourceModal);"
                onclick="blur();">
                Add Data Source <fa-icon [icon]="faPlus"></fa-icon>
            </button>
        </div>
    </div>
</div>
<p class="text-center mt-5" *ngIf="dataSources.length == 0">
    <fa-icon [icon]="faFaceFrown" size="xl"></fa-icon> You have not setup any data sources yet.
</p>
<div *ngIf="dataSources.length > 0" class="card m-0 p-0 border-0 shadow">
    <table class="table m-0 table-dark table-bordered">
        <thead>
            <tr>
                <th scope="col">Path</th>
                <th scope="col">Monitored File Types</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let dataSource of dataSources; let i = index">
                <td>{{dataSource.path}}</td>
                <td *ngIf="i == 0" rowspan="0" class="align-middle">
                    <span *ngFor="let string of fileExtensions" class="badge text-bg-primary mx-1">{{string}}</span>
                </td>
                <td class="text-end">
                    <div ngbDropdown class="d-inline-block">
                        <button type="button" class="btn btn-sm btn-dark" id="dropdownBasic1" ngbDropdownToggle>
                            Action
                        </button>
                        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">

                            <button ngbDropdownItem style="color:red"
                                (click)="openModal(delete);preDelete(dataSource.id);" onclick="blur();">Remove <fa-icon
                                    [icon]="faTrashCan" [styles]="{'color': 'red'}"></fa-icon></button>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div *ngIf="dataSources.length > 0" class="alert alert-dark mt-3" role="alert">
    To add/update monitoried file types, set FILETYPES as described <a
        href="https://github.com/Zggis/howler#optional-variables" target="_blank">here.</a>
</div>

<ng-template #addDataSourceModal let-modal>
    <div class="modal-header">
        <h5 class="modal-title" id="newTVShowModalLabel">
            <fa-icon [icon]="faFolder" [styles]="{'color': 'burlywood'}"></fa-icon> Add Data Source
        </h5>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
    </div>
    <div class="modal-body">
        <form>
            <div class="mb-3">
                <label for="name" class="form-label">Path</label> <input ngbAutofocus type="text" class="form-control"
                    #name id="name" name="name" placeholder="/app1/logs" [(ngModel)]="newDataSource.path">
                <div class="form-text">This is a container relative directory path where your log file(s) are. It must
                    be mapped in the container's configuration.</div>
                <div class="invalid-feedback">
                    Please enter a valid directory path.
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="modal.dismiss()">Cancel
            <fa-icon [icon]="faXmark"></fa-icon>
        </button>
        <button type="button" class="btn btn-success" (click)="addDataSource(name)">Add Data Source <fa-icon
                [icon]="faPlus">
            </fa-icon>
        </button>
    </div>
</ng-template>

<ng-template #delete let-modal>
    <div class="modal-header">
        <h5 class="modal-title">
            <fa-icon [icon]="faTriangleExclamation" [styles]="{'color': 'gold'}"></fa-icon> Delete
        </h5>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
    </div>
    <div class="modal-body" ngbAutofocus>
        <p>When you delete a data source, any alerts linked to this data source will also be deleted.</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="modal.dismiss()">Cancel
            <fa-icon [icon]="faXmark"></fa-icon>
        </button>
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="deleteDataSource()">Delete
            <fa-icon [icon]="faTrashCan"></fa-icon>
        </button>
    </div>
</ng-template>