<div
    class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-1 pb-2 mb-3 border-bottom border-dark">
    <h1 class="h2">Data Sources</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group me-2">
            <button type="button" class="btn btn-sm btn-outline-secondary" (click)="openModal(addDataSourceModal);"
                onclick="blur();">
                Add Data Source <fa-icon [icon]="faPlus"></fa-icon>
            </button>
        </div>
    </div>
</div>
<table class="table table-dark">
    <thead>
        <tr>
            <th scope="col">Path</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let dataSource of dataSources">
            <td>{{dataSource.path}}</td>
            <td>
                <div ngbDropdown class="d-inline-block">
                    <button type="button" class="btn btn-sm btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>
                        Action
                    </button>
                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">

                        <button ngbDropdownItem style="color:red" (click)="deleteDataSource(dataSource.id);"
                            onclick="blur();">Remove</button>
                    </div>
                </div>
            </td>
        </tr>
    </tbody>
</table>

<ng-template #addDataSourceModal let-modal>
    <div class="modal-header">
        <h5 class="modal-title" id="newTVShowModalLabel">
            <fa-icon [icon]="faFolder"></fa-icon> Add Data Source
        </h5>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
    </div>
    <div class="modal-body">
        <form>
            <div class="mb-3">
                <label for="name" class="form-label">Path</label> <input type="text" class="form-control" id="name"
                    name="name" [(ngModel)]="newDataSource.path" placeholder="Optional">
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button #cancelBtn type="button" class="btn btn-secondary" data-bs-dismiss="modal"
            (click)="modal.dismiss()">Cancel <i class="fa-solid fa-xmark"></i></button>
        <button type="button" class="btn btn-success" (click)="addDataSource()">Add Data Source <fa-icon
                [icon]="faPlus">
            </fa-icon>
        </button>
    </div>
</ng-template>