<div
    class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-1 pb-2 mb-3 border-bottom border-dark">
    <h1 class="h2">Alerts</h1>
    <div *ngIf="error !== ''" class="alert alert-danger py-1 my-0" role="alert">
        <fa-icon [icon]="faCircleExclamation"></fa-icon> {{error}}
    </div>
    <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group me-2">
            <button type="button" class="btn btn-sm btn-outline-dark"
                (click)="dataSources.length > 0 ? openModal(addAlertModal) : openModal(noDataSources);"
                onclick="blur();">
                Add Alert <fa-icon [icon]="faPlus"></fa-icon>
            </button>
        </div>
    </div>
</div>

<p class="text-center mt-5" *ngIf="alerts.length == 0">
    <fa-icon [icon]="faFaceFrown" size="xl"></fa-icon> You have not setup any alerts yet.
</p>

<div *ngIf="alerts.length > 0" class="card m-0 p-0 border-0 shadow">
    <table class="table table-dark m-0">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Trigger Event</th>
                <th scope="col">Type</th>
                <th scope="col">Data Source</th>
                <th>Status</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let alert of alerts">
                <td>{{alert.name}}</td>
                <td>{{alert.matchingString}}</td>
                <td>
                    <div *ngIf="alert.type == 'DISCORD'">
                        <fa-icon [icon]="faDiscord" [styles]="{'color': 'cornflowerblue'}"></fa-icon> Discord
                    </div>
                    <div *ngIf="alert.type == 'GOTIFY'">
                        <fa-icon [icon]="faKiwiBird" [styles]="{'color': 'lightskyblue'}"></fa-icon> Gotify
                    </div>
                    <div *ngIf="alert.type == 'SLACK'">
                        <fa-icon [icon]="faSlack"></fa-icon> Slack
                    </div>
                </td>
                <td>
                    <fa-icon [icon]="faFolder" [styles]="{'color': 'burlywood'}"></fa-icon> {{alert.dataSourcePath}}
                </td>
                <td>
                    <span *ngIf="alert.enabled == true" class="badge text-bg-success">Enabled</span>
                    <span *ngIf="alert.enabled == false" class="badge text-bg-danger">Disabled</span>
                </td>
                <td class="text-end">
                    <div ngbDropdown class="d-inline-block">
                        <button type="button" class="btn btn-sm btn-dark" id="dropdownBasic1" ngbDropdownToggle>
                            Action
                        </button>
                        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                            <button *ngIf="alert.type == 'DISCORD'" ngbDropdownItem (click)="testAlert(alert.id);"
                                onclick="blur();">Test <fa-icon [icon]="faDiscord"
                                    [styles]="{'color': 'cornflowerblue'}">
                                </fa-icon></button>
                            <button *ngIf="alert.type == 'GOTIFY'" ngbDropdownItem (click)="testAlert(alert.id);"
                                onclick="blur();">Test <fa-icon [icon]="faKiwiBird"
                                    [styles]="{'color': 'lightskyblue'}">
                                </fa-icon></button>
                            <button *ngIf="alert.type == 'SLACK'" ngbDropdownItem (click)="testAlert(alert.id);"
                                onclick="blur();">Test <fa-icon [icon]="faSlack">
                                </fa-icon></button>
                            <button ngbDropdownItem (click)="enableAlert(alert.id);" onclick="blur();">Enable <fa-icon
                                    [icon]="faBell" [styles]="{'color': 'green'}"></fa-icon></button>
                            <button ngbDropdownItem (click)="disableAlert(alert.id);" onclick="blur();">Disable <fa-icon
                                    [icon]="faBellSlash" [styles]="{'color': 'maroon'}">
                                </fa-icon></button>
                            <div class="dropdown-divider"></div>
                            <button ngbDropdownItem style="color:red" (click)="deleteAlert(alert.id);"
                                onclick="blur();">Remove <fa-icon [icon]="faTrashCan" [styles]="{'color': 'red'}">
                                </fa-icon>
                            </button>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<ng-template #addAlertModal let-modal>
    <div class="modal-header">
        <h5 class="modal-title">
            <fa-icon [icon]="faBell" [styles]="{'color': 'red'}"></fa-icon> Add Alert
        </h5>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
    </div>
    <div class="modal-body">
        <form>
            <div class="row mb-3">
                <div class="col-4">
                    <label for="name" class="form-label">Name</label> <input ngbAutofocus #name type="text"
                        class="form-control" id="name" name="name" [(ngModel)]="newAlert.name">
                    <div class="invalid-feedback">
                        Please enter a name.
                    </div>
                </div>
                <div class="col-4">
                    <label for="dataSourceId" class="form-label">
                        <fa-icon [icon]="faFolder" [styles]="{'color': 'burlywood'}"></fa-icon> Data Source
                    </label> <select class="form-select" aria-label="Data Source Selection" id="dataSourceId"
                        name="dataSourceId" [(ngModel)]="newAlert.dataSourceId">
                        <option *ngFor="let dataSource of dataSources" [value]="dataSource.id">{{dataSource.path}}
                        </option>
                    </select>
                </div>
                <div class="col-4">
                    <label for="type" class="form-label">Type</label> <select class="form-select"
                        aria-label="Data Source Selection" id="type" name="type" [(ngModel)]="newAlert.type">
                        <option value="DISCORD">Discord</option>
                        <option value="GOTIFY">Gotify</option>
                        <option value="SLACK">Slack</option>
                    </select>
                </div>
            </div>
            <div class="mb-3">
                <label for="matchingString" class="form-label">Trigger Event</label> <input #triggerevent type="text"
                    class="form-control" id="matchingString" name="matchingString"
                    [(ngModel)]="newAlert.matchingString">
                <div class="form-text">Case insensitive string to look for in a log message.</div>
                <div class="invalid-feedback">
                    Please enter a string to match.
                </div>
            </div>
            <div *ngIf="newAlert.type === 'DISCORD'">
                <h5>
                    <fa-icon [icon]="faDiscord" [styles]="{'color': 'cornflowerblue'}"></fa-icon> Discord
                </h5>
                <hr>
                <div class="mb-3">
                    <label for="username" class="form-label">
                        <fa-icon [icon]="faUser"></fa-icon> Username
                    </label> <input type="text" class="form-control" id="username" name="username"
                        [(ngModel)]="newAlert.username">
                    <div class="form-text">Leave blank to use the webhook name.</div>
                </div>
                <div class="mb-3">
                    <label for="webhookUrl" class="form-label">
                        <fa-icon [icon]="faLink"></fa-icon> Webhook URL
                    </label> <input type="text" class="form-control" id="webhookUrl" name="webhookUrl"
                        [(ngModel)]="newAlert.webhookUrl">
                </div>
                <div class="mb-3">
                    <label for="color" class="form-label">
                        <fa-icon [icon]="faPalette"></fa-icon> Color
                    </label> <select class="form-select" aria-label="Data Source Selection" id="color" name="color"
                        [(ngModel)]="newAlert.color">
                        <option value="GREEN">Green</option>
                        <option value="RED">Red</option>
                        <option value="BLUE">Blue</option>
                        <option value="YELLOW">Yellow</option>
                    </select>
                </div>
            </div>
            <div *ngIf="newAlert.type === 'GOTIFY'">
                <h5>
                    <fa-icon [icon]="faKiwiBird" [styles]="{'color': 'lightskyblue'}"></fa-icon> Gotify
                </h5>
                <hr>
                <div class="mb-3">
                    <label for="serverUrl" class="form-label">
                        <fa-icon [icon]="faLink"></fa-icon> Server URL
                    </label> <input type="text" class="form-control" id="serverUrl" name="serverUrl"
                        [(ngModel)]="newAlert.serverUrl">
                </div>
                <div class="mb-3">
                    <div class="mb-3">
                        <label for="token" class="form-label">
                            <fa-icon [icon]="faKey"></fa-icon> API Token
                        </label> <input type="text" class="form-control" id="token" name="token"
                            [(ngModel)]="newAlert.token">
                    </div>
                </div>
            </div>
            <div *ngIf="newAlert.type === 'SLACK'">
                <h5>
                    <fa-icon [icon]="faSlack"></fa-icon> Slack
                </h5>
                <hr>
                <div class="mb-3">
                    <label for="webhookUrl" class="form-label">
                        <fa-icon [icon]="faLink"></fa-icon> Webhook URL
                    </label> <input type="text" class="form-control" id="webhookUrl" name="webhookUrl"
                        [(ngModel)]="newAlert.webhookUrl">
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button #cancelBtn type="button" class="btn btn-secondary" data-bs-dismiss="modal"
            (click)="modal.dismiss()">Cancel <fa-icon [icon]="faXmark"></fa-icon></button>
        <button type="button" class="btn btn-success" (click)="addAlert(name,triggerevent)">Add Alert <fa-icon
                [icon]="faPlus">
            </fa-icon>
        </button>
    </div>
</ng-template>

<ng-template #noDataSources let-modal>
    <div class="modal-header">
        <h5 class="modal-title">
            <fa-icon [icon]="faTriangleExclamation"></fa-icon> No Data Sources
        </h5>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
    </div>
    <div class="modal-body" ngbAutofocus>
        <p>You must add a <a href="/datasources">Data Source</a> before you can add an alert.</p>
    </div>
    <div class="modal-footer">
        <button #cancelBtn type="button" class="btn btn-secondary" data-bs-dismiss="modal"
            (click)="modal.dismiss()">Close <fa-icon [icon]="faXmark"></fa-icon></button>
    </div>
</ng-template>