<div
    class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-1 pb-2 mb-3 border-bottom border-dark">
    <h1 class="h2">Alerts</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group me-2">
            <button type="button" class="btn btn-sm btn-outline-secondary" (click)="openModal(addAlertModal);" onclick="blur();">
                Add Alert <fa-icon [icon]="faPlus"></fa-icon>
            </button>
        </div>
    </div>
</div>
<table class="table table-dark">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Trigger Event</th>
            <th scope="col">Data Source</th>
            <th>Status</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let alert of alerts">
            <td>{{alert.name}}</td>
            <td>{{alert.matchingString}}</td>
            <td>{{alert.dataSourcePath}}</td>
            <td><span class="badge text-bg-success">Enabled</span></td>
            <td>
                <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-primary dropdown-toggle" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Action
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Enable</a></li>
                        <li><a class="dropdown-item" href="#">Disable</a></li>
                        <li><a class="dropdown-item" href="#">Test</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="javascript:void(0);" style="color:red" (click)="deleteAlert(alert.id);" onclick="blur();">Remove</a></li>
                    </ul>
                </div>
            </td>
        </tr>
    </tbody>
</table>

<ng-template #addAlertModal let-modal>
    <div class="modal-header">
        <h5 class="modal-title" id="newTVShowModalLabel">
            <fa-icon [icon]="faBell"></fa-icon> Add Alert
        </h5>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
    </div>
    <div class="modal-body">
        <form>
            <div class="mb-3">
                <label for="name" class="form-label">Name</label> <input type="text" class="form-control" id="name"
                    name="name" [(ngModel)]="newAlert.name" placeholder="Optional">
            </div>
            <div class="mb-3">
                <label for="dataSourceId" class="form-label">Data Source ID</label> <input ngbAutofocus type="text"
                    class="form-control" id="dataSourceId" name="dataSourceId" [(ngModel)]="newAlert.dataSourceId">
            </div>
            <div class="mb-3">
                <label for="webhookUrl" class="form-label">WebhookUrl</label> <input ngbAutofocus type="text"
                    class="form-control" id="webhookUrl" name="webhookUrl" [(ngModel)]="newAlert.webhookUrl">
            </div>
            <div class="mb-3">
                <label for="matchingString" class="form-label">Trigger Event</label> <input ngbAutofocus type="text"
                    class="form-control" id="matchingString" name="matchingString"
                    [(ngModel)]="newAlert.matchingString">
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button #cancelBtn type="button" class="btn btn-secondary" data-bs-dismiss="modal"
            (click)="modal.dismiss()">Cancel <i class="fa-solid fa-xmark"></i></button>
        <button type="button" class="btn btn-success" (click)="addAlert()">Add Alert <fa-icon [icon]="faPlus"></fa-icon>
        </button>
    </div>
</ng-template>