<div
    class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-1 pb-2 mb-3 border-bottom border-dark">
    <h1 class="h2">Alerts</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group me-2">
            <button type="button" class="btn btn-sm btn-outline-dark"
                (click)="dataSources.length > 0 ? openModal(addAlertModal) : openModal(noDataSources);"
                onclick="blur();">
                Add Alert <fa-icon [icon]="faPlus"></fa-icon>
            </button>
        </div>
    </div>
</div>

<p class="text-center mt-5" *ngIf="alerts.length == 0">
    <fa-icon [icon]="faFaceFrown"></fa-icon> You have not setup any alerts yet.
</p>

<table class="table table-dark" *ngIf="alerts.length > 0">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Trigger Event</th>
            <th scope="col">Data Source</th>
            <th>Status</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let alert of alerts">
            <td>{{alert.name}}</td>
            <td>{{alert.matchingString}}</td>
            <td>{{alert.dataSourcePath}}</td>
            <td>
                <span *ngIf="alert.enabled == true" class="badge text-bg-success">Enabled</span>
                <span *ngIf="alert.enabled == false" class="badge text-bg-danger">Disabled</span>
            </td>
            <td class="text-end">
                <div ngbDropdown class="d-inline-block">
                    <button type="button" class="btn btn-sm btn-dark" id="dropdownBasic1" ngbDropdownToggle>
                        Action
                    </button>
                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                        <button ngbDropdownItem (click)="testAlert(alert.id);" onclick="blur();">Test</button>
                        <button ngbDropdownItem (click)="enableAlert(alert.id);" onclick="blur();">Enable</button>
                        <button ngbDropdownItem style="color:orange" (click)="disableAlert(alert.id);"
                            onclick="blur();">Disable</button>
                        <div class="dropdown-divider"></div>
                        <button ngbDropdownItem style="color:red" (click)="deleteAlert(alert.id);"
                            onclick="blur();">Remove</button>
                    </div>
                </div>
            </td>
        </tr>
    </tbody>
</table>

<ng-template #addAlertModal let-modal>
    <div class="modal-header">
        <h5 class="modal-title">
            <fa-icon [icon]="faBell"></fa-icon> Add Alert
        </h5>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
    </div>
    <div class="modal-body">
        <form>
            <div class="mb-3">
                <label for="name" class="form-label">Name</label> <input type="text" class="form-control" id="name"
                    name="name" [(ngModel)]="newAlert.name">
            </div>
            <div class="mb-3">
                <label for="dataSourceId" class="form-label">Data Source ID</label> <select class="form-select"
                    aria-label="Data Source Selection" id="dataSourceId" name="dataSourceId"
                    [(ngModel)]="newAlert.dataSourceId">
                    <option *ngFor="let dataSource of dataSources" [value]="dataSource.id">{{dataSource.path}}
                    </option>
                </select>
            </div>
            <div class="mb-3">
                <label for="matchingString" class="form-label">Trigger Event</label> <input ngbAutofocus type="text"
                    class="form-control" id="matchingString" name="matchingString"
                    [(ngModel)]="newAlert.matchingString">
            </div>
            <div class="mb-3">
                <label for="type" class="form-label">Type</label> <select class="form-select"
                    aria-label="Data Source Selection" id="type" name="type" [(ngModel)]="newAlert.type">
                    <option value="DISCORD">Discord</option>
                </select>
            </div>
            <div *ngIf="newAlert.type === 'DISCORD'">
                <h5>
                    <fa-icon [icon]="faDiscord"></fa-icon> Discord
                </h5>
                <hr>
                <div class="mb-3">
                    <label for="webhookUrl" class="form-label">WebhookUrl</label> <input ngbAutofocus type="text"
                        class="form-control" id="webhookUrl" name="webhookUrl" [(ngModel)]="newAlert.webhookUrl">
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button #cancelBtn type="button" class="btn btn-secondary" data-bs-dismiss="modal"
            (click)="modal.dismiss()">Cancel <i class="fa-solid fa-xmark"></i></button>
        <button type="button" class="btn btn-success" (click)="addAlert()">Add Alert <fa-icon [icon]="faPlus">
            </fa-icon>
        </button>
    </div>
</ng-template>

<ng-template #noDataSources let-modal>
    <div class="modal-header">
        <h5 class="modal-title">
            <fa-icon [icon]="faTriangleExclamation"></fa-icon> No Data Sources
        </h5>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
    </div>
    <div class="modal-body">
        <p>You must add a Data Source before you can add an alert.</p>
    </div>
    <div class="modal-footer">
        <button #cancelBtn type="button" class="btn btn-secondary" data-bs-dismiss="modal"
            (click)="modal.dismiss()">Close <i class="fa-solid fa-xmark"></i></button>
    </div>
</ng-template>